# Pandas Dedupe
<div align="center">

  
  <a href="github/ponerlo" target="_blank">
    <img width="1024", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRaJ10QzX3jvXcKYwaIQAB1zH6Y7TRqVjipg&usqp=CAU" width="100" height="300"></a>


<br>
  <a href="https://colab.research.google.com/drive/1j-O68NXJtt1TJ_LRJXpI9AMp4iyOvkRn?usp=sharing"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"></a>
  <a href="colocar repo"><img src="https://img.shields.io/badge/github-Open In Github-brightgreen.svg" alt="Open In Github"></a>
</br>


Esta libreria permite clusterizar los registros duplicados.
</div>

## Paso 1: Instalar Librerias

In [1]:
!pip install pandas-dedupe
!pip install faker

Collecting pandas-dedupe
  Downloading pandas_dedupe-1.5.0-py3-none-any.whl (12 kB)
Collecting dedupe>=2.0.0 (from pandas-dedupe)
  Downloading dedupe-2.0.23-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.1/144.1 kB 3.6 MB/s eta 0:00:00
Collecting unidecode (from pandas-dedupe)
  Downloading Unidecode-1.3.7-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 14.8 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas-dedupe) (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from dedupe>=2.0.0->pandas-dedupe) (1.2.2)
Collecting affinegap>=1.3 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading affinegap-1.12-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.8/56.8 kB 6.1 MB/s eta 0:00:00
Collecting categorical-distance>=1.9 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading categorical_distance-1.9-py3-none-any.whl (3.3 kB)
Collecting dedupe-variable-datetime (from dedupe>=2.0.0->pandas-dedupe)
  Downloading dedupe_variable_datetime-1.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from dedupe>=2.0.0->pandas-dedupe) (1.23.5)
Collecting doublemetaphone (from dedupe>=2.0.0->pandas-dedupe)
  Downloading DoubleMetaphone-1.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (150 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.2/150.2 kB 13.2 MB/s eta 0:00:00
Collecting highered>=0.2.0 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading highered-0.2.1-py2.py3-none-any.whl (3.3 kB)
Collecting simplecosine>=1.2 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading simplecosine-1.2-py2.py3-none-any.whl (3.2 kB)
Collecting haversine>=0.4.1 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Collecting BTrees>=4.1.4 (from dedupe>=2.0.0->pandas-dedupe)
  Downloading BTrees-5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 24.9 MB/s eta 0:00:00
Collecting zope.index (from dedupe>=2.0.0->pandas-dedupe)
  Downloading zope.index-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.7/99.7 kB 12.7 MB/s eta 0:00:00
Collecting dedupe-Levenshtein-search (from dedupe>=2.0.0->pandas-dedupe)
  Downloading dedupe_Levenshtein_search-1.4.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.2/63.2 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from dedupe>=2.0.0->pandas-dedupe) (4.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-dedupe) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-dedupe) (2023.3.post1)
Collecting persistent>=4.1.0 (from BTrees>=4.1.4->dedupe>=2.0.0->pandas-dedupe)
  Downloading persistent-5.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (231 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 231.4/231.4 kB 25.6 MB/s eta 0:00:00
Collecting zope.interface>=5.0.0 (from BTrees>=4.1.4->dedupe>=2.0.0->pandas-dedupe)
  Downloading zope.interface-6.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.1/247.1 kB 27.2 MB/s eta 0:00:00
Collecting pyhacrf-datamade>=0.2.0 (from highered>=0.2.0->dedupe>=2.0.0->pandas-dedupe)
  Downloading pyhacrf_datamade-0.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 44.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-dedupe) (1.16.0)
INFO: pip is looking at multiple versions of dedupe-variable-datetime to determine which version is compatible with other requirements. This could take a while.
Collecting dedupe-variable-datetime (from dedupe>=2.0.0->pandas-dedupe)
  Downloading dedupe_variable_datetime-0.1.5-py3-none-any.whl (4.8 kB)
Collecting datetime-distance (from dedupe-variable-datetime->dedupe>=2.0.0->pandas-dedupe)
  Downloading datetime_distance-0.1.3-py3-none-any.whl (4.1 kB)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from dedupe-variable-datetime->dedupe>=2.0.0->pandas-dedupe) (0.18.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas-dedupe) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas-dedupe) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas-dedupe) (3.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from zope.index->dedupe>=2.0.0->pandas-dedupe) (67.7.2)
Requirement already satisfied: cffi in /usr/local/lib/python3.10/dist-packages (from persistent>=4.1.0->BTrees>=4.1.4->dedupe>=2.0.0->pandas-dedupe) (1.16.0)
Collecting PyLBFGS>=0.1.3 (from pyhacrf-datamade>=0.2.0->highered>=0.2.0->dedupe>=2.0.0->pandas-dedupe)
  Downloading PyLBFGS-0.2.0.14-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (274 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 274.7/274.7 kB 23.2 MB/s eta 0:00:00
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi->persistent>=4.1.0->BTrees>=4.1.4->dedupe>=2.0.0->pandas-dedupe) (2.21)
Installing collected packages: doublemetaphone, dedupe-Levenshtein-search, affinegap, zope.interface, unidecode, simplecosine, PyLBFGS, haversine, categorical-distance, pyhacrf-datamade, persistent, datetime-distance, highered, BTrees, zope.index, dedupe-variable-datetime, dedupe, pandas-dedupe
Successfully installed BTrees-5.1 PyLBFGS-0.2.0.14 affinegap-1.12 categorical-distance-1.9 datetime-distance-0.1.3 dedupe-2.0.23 dedupe-Levenshtein-search-1.4.5 dedupe-variable-datetime-0.1.5 doublemetaphone-1.1 haversine-2.8.0 highered-0.2.1 pandas-dedupe-1.5.0 persistent-5.1 pyhacrf-datamade-0.2.6 simplecosine-1.2 unidecode-1.3.7 zope.index-6.0 zope.interface-6.1
Collecting faker
  Downloading Faker-19.12.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 12.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.12.0

# Paso 2: Crear Base de Datos de Ejemplo

Crearemos a 1000 clientes de una empresa, sus atributos son Nombre, Apellido, DNI y Fecha de Nacimiento. Para esto, usaremos la libreria Faker, que permite generar nombres y datos aleatorios de lo que queramos :3

In [2]:
import pandas as pd
from faker import Faker

# Crear una instancia de Faker
fake = Faker("es_ES")
Faker.seed(222)
# Crear una lista vacía para almacenar los usuarios
usuarios = []

# Generar 1000 usuarios aleatorios
for _ in range(1000):
    nombre = fake.first_name()
    apellido = fake.last_name()
    dni = fake.unique.random_number(digits=8)
    fecha_nacimiento = fake.date_of_birth(minimum_age=18, maximum_age=90)
    usuarios.append((nombre, apellido, dni, fecha_nacimiento))

# Crear un dataframe a partir de la lista de usuarios
df = pd.DataFrame(usuarios, columns=['Nombre', 'Apellido', 'DNI', 'Fecha de nacimiento'])

# Mostrar los primeros registros del dataframe
print(df.head())

    Nombre   Apellido       DNI Fecha de nacimiento
0  Melania     Campos  31574101          1971-06-17
1  Mariano     Angulo   3918234          1998-05-15
2  Jacinto    Salgado  99348528          1992-11-16
3   Víctor  Benavides   2180849          1946-09-09
4   Silvio      Belda  65820934          2002-12-16

# Paso 3: Ahora crearemos algunos duplicados:

In [3]:
df1 = df.sample(frac=0.2, random_state=333) #Creando 200 duplicados
df1.shape

(200, 4)

In [4]:
from pandas_dedupe import dedupe_dataframe
df = pd.concat([df, df1]) # Concatenando los dos sets
df.index = range(len(df)) # Colocando indices secuenciales
df.shape

(1200, 4)

# Paso 4:
* Ahora vamos a entrenar el modelo con pandas dedupe:
* La libreria va imprimir iterativamente en consola los que ella crea que sean duplicados y deberas decirle si es, o no es un duplicado.
* El entrenamiento solo se hace una vez. Ya que ella guarda el modelo enrenado en un json

In [5]:
dedupe_df = dedupe_dataframe(df, ['Nombre', 'Apellido', 'DNI', 'Fecha de nacimiento']) #Entrenando modelo

Importing data ...

<ipython-input-5-fb542dd91aaf>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dedupe_df = dedupe_dataframe(df, ['Nombre', 'Apellido', 'DNI', 'Fecha de nacimiento']) #Entrenando modelo
Nombre : leonor
Apellido : marin
DNI : 91218703
Fecha de nacimiento : 1978-12-10

Nombre : leonor
Apellido : martin
DNI : 97008641
Fecha de nacimiento : 1992-02-14

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished

Starting active labeling...
n

Nombre : leonor
Apellido : marin
DNI : 91218703
Fecha de nacimiento : 1978-12-10

Nombre : leonor
Apellido : martin
DNI : 97008641
Fecha de nacimiento : 1992-02-14

0/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : fabricio
Apellido : roman
DNI : 18648608
Fecha de nacimiento : 1956-12-23

Nombre : roberto
Apellido : montalban
DNI : 88648608
Fecha de nacimiento : 1967-02-16

0/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : fabricio
Apellido : roman
DNI : 18648608
Fecha de nacimiento : 1956-12-23

Nombre : roberto
Apellido : montalban
DNI : 88648608
Fecha de nacimiento : 1967-02-16

0/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : raquel
Apellido : menendez
DNI : 509531
Fecha de nacimiento : 1968-12-20

Nombre : ariel
Apellido : menendez
DNI : 51926399
Fecha de nacimiento : 1968-12-17

0/10 positive, 4/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : martin
Apellido : gonzalez
DNI : 94120774
Fecha de nacimiento : 1970-07-26

Nombre : martirio
Apellido : gonzalez
DNI : 82386544
Fecha de nacimiento : 1978-07-05

0/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : geronimo
Apellido : naranjo
DNI : 5164889
Fecha de nacimiento : 1996-07-22

Nombre : geronimo
Apellido : pina
DNI : 21146051
Fecha de nacimiento : 1994-07-23

0/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : joaquina
Apellido : mulet
DNI : 75195903
Fecha de nacimiento : 1957-07-22

Nombre : joaquina
Apellido : urrutia
DNI : 78191883
Fecha de nacimiento : 1975-07-04

0/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : imelda
Apellido : coronado
DNI : 33700119
Fecha de nacimiento : 1973-06-08

Nombre : imelda
Apellido : coronado
DNI : 33700119
Fecha de nacimiento : 1973-06-08

0/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : paulina
Apellido : castells
DNI : 14182866
Fecha de nacimiento : 1943-01-08

Nombre : paulina
Apellido : castells
DNI : 14182866
Fecha de nacimiento : 1943-01-08

1/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : eligia
Apellido : paz
DNI : 53313615
Fecha de nacimiento : 1984-11-05

Nombre : eligia
Apellido : paz
DNI : 53313615
Fecha de nacimiento : 1984-11-05

2/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : delia
Apellido : fuentes
DNI : 9916972
Fecha de nacimiento : 1984-01-27

Nombre : delia
Apellido : fuentes
DNI : 9916972
Fecha de nacimiento : 1984-01-27

3/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : nilo
Apellido : flor
DNI : 50238386
Fecha de nacimiento : 1974-12-10

Nombre : florencia
Apellido : flor
DNI : 50503986
Fecha de nacimiento : 1987-10-15

4/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : bartolome
Apellido : escriva
DNI : 97205624
Fecha de nacimiento : 1991-11-28

Nombre : marta
Apellido : estrada
DNI : 60005624
Fecha de nacimiento : 1981-04-01

4/10 positive, 9/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : chita
Apellido : sanchez
DNI : 42622213
Fecha de nacimiento : 1937-11-11

Nombre : chita
Apellido : sanchez
DNI : 42622213
Fecha de nacimiento : 1937-11-11

4/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : pepe
Apellido : leon
DNI : 2761480
Fecha de nacimiento : 1967-06-23

Nombre : pepe
Apellido : leon
DNI : 2761480
Fecha de nacimiento : 1967-06-23

5/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : agustin
Apellido : pellicer
DNI : 29730082
Fecha de nacimiento : 1937-01-24

Nombre : agustin
Apellido : pellicer
DNI : 29730082
Fecha de nacimiento : 1937-01-24

6/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : geronimo
Apellido : pina
DNI : 21146051
Fecha de nacimiento : 1994-07-23

Nombre : geronimo
Apellido : naranjo
DNI : 5164889
Fecha de nacimiento : 1996-07-22

7/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : martin
Apellido : gonzalez
DNI : 94120774
Fecha de nacimiento : 1970-07-26

Nombre : martirio
Apellido : gonzalez
DNI : 82386544
Fecha de nacimiento : 1978-07-05

7/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : pastora
Apellido : saenz
DNI : 50173540
Fecha de nacimiento : 2000-01-23

Nombre : pastora
Apellido : saenz
DNI : 50173540
Fecha de nacimiento : 2000-01-23

7/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : teodora
Apellido : rocamora
DNI : 96693066
Fecha de nacimiento : 1959-07-03

Nombre : teodora
Apellido : rocamora
DNI : 96693066
Fecha de nacimiento : 1959-07-03

8/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : geronimo
Apellido : naranjo
DNI : 5164889
Fecha de nacimiento : 1996-07-22

Nombre : geronimo
Apellido : naranjo
DNI : 5164889
Fecha de nacimiento : 1996-07-22

9/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

y

Nombre : emma
Apellido : vallejo
DNI : 24699522
Fecha de nacimiento : 1998-07-05

Nombre : eustaquio
Apellido : vallejo
DNI : 21682282
Fecha de nacimiento : 1979-03-25

10/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

n

Nombre : eustaquio
Apellido : vallejo
DNI : 21682282
Fecha de nacimiento : 1979-03-25

Nombre : emma
Apellido : vallejo
DNI : 24699522
Fecha de nacimiento : 1998-07-05

10/10 positive, 13/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious

f

Finished labeling

Clustering...
# duplicate sets 1000

In [6]:
dedupe_df.sort_values(['confidence', 'cluster id'], ascending=False)

        Nombre Apellido       DNI Fecha de nacimiento  cluster id  confidence
999    mariana    marti  69417672          1981-03-20         999    1.000000
998    micaela  almeida  36609064          1958-02-09         998    1.000000
997     urbano   oliver  90237957          1961-05-24         997    1.000000
996      julia  alvarez   2671087          1955-04-14         996    1.000000
995     africa   santos  93741849          1980-01-06         995    1.000000
...        ...      ...       ...                 ...         ...         ...
1062     roman  velasco  11893770          1973-02-20           2    0.539416
8     santiago   amador  26218645          2002-04-03           1    0.539416
1083  santiago   amador  26218645          2002-04-03           1    0.539416
5     herminio  pedraza  93914566          1966-10-30           0    0.539416
1055  herminio  pedraza  93914566          1966-10-30           0    0.539416

[1200 rows x 6 columns]

In [20]:
out = dedupe_df[dedupe_df['confidence'] != 1]
out.shape

(400, 6)

In [21]:
max(out['cluster id'])

199

* Aqui podemos ver que encontro 200 duplicados. Que fueron los mismos 200 que generamos en el paso 3

In [15]:
out = dedupe_df[dedupe_df['confidence'] != 1.0]
max(out['cluster id'])

199

* Veamos algunos ejemplos:

In [22]:
dedupe_df[dedupe_df['cluster id'] == 50]

       Nombre Apellido       DNI Fecha de nacimiento  cluster id  confidence
205   bernabe   batlle  82336065          1994-10-14          50    0.539416
1184  bernabe   batlle  82336065          1994-10-14          50    0.539416